/* Universal Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(247, 247, 247);
    background-image: linear-gradient(rgb(247, 247, 247), rgb(226, 227, 230));
    color: rgb(34, 34, 34);
}

/* element styling */

.nav {
    background-color: rgba(208, 210, 211, 0.863);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(94, 150, 182);
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 2;
	position: fixed;
}
    .nav a {
        padding: 2%;
        text-emphasis: none;
        text-decoration: none;
        color: black;
    }
        .nav a:hover {
                color: rgb(1, 35, 114);
        }

        .header {
            text-align: left;
            padding: 1%;
            font-family: roboto;
            font-size: 200%;
            letter-spacing: .1em;
            font-weight: lighter;
            display: flex;
            justify-content: left;
            align-items: left;
            padding-left: 0;
        }

.main {
    background-color: rgb(231, 229, 229);
    padding: 20%;
    background-image: url('images/jakub-kapusnak.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.hero {
    font-size: 200%;
    color: rgb(60,60,60);
    text-align: center;
}

/* compelling paragraph/elevator pitch section */
.content0 {
    background-color: rgb(204, 201, 201);
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%
}
    .content0 h2 {
        margin-top: 1%;
    }
    .content0 p {
        margin-top: 2%;
    }
  
/* Used to remove dot-points from a list */
.card {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  height: auto;
  width: auto;
}

.card:hover, .card:focus {
    transform: translateY(-30px);
    transition: 0.8s ease-in-out;
    box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.2), 0 30px 20px -5px rgba(0, 0, 0, 0.2);
}

.price {
  font-size: 2rem;
  font-weight: 300;
}

.pricing-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(120,120,125);
  padding-top: 1.5rem;
}

.bg-sales {
    background-color: rgba(22, 81, 121, 0.63);
    padding: 5%;
    margin-bottom: 3%;
}

.clickable {
    margin: 1em;
    height: auto;
    width: auto;
    display: inline-block;
    background-color: white;
    color: rgb(107,105,105);
    border: 2px solid rgb(107,105,105);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 2%;
}

.clickable:hover {
    background-color: rgb(107, 105, 105);
    border: 2px solid transparent;
    color: white;
}
.clickable2 {
    margin: 1em;
    height: auto;
    width: auto;
    display: inline-block;
    /*background-color: rgb(107,105,105);*/
    color: white;
    border: 2px solid rgb(216, 215, 215);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 1%;
}
.clickable2:hover {
    background-color: rgb(80, 79, 79);
}

/* about */

.about {
    padding: 8%;
    text-align: left;
}

/* contact */

.contact {
    padding: 10%;
}

/* social links, footer, and back to top button? */

.footer {
    padding: 5%;
    font-size: 100%;
    color: rgb(232, 234, 235);
    background-color: rgb(47, 93, 107);
    border-top: 2px solid rgb(24, 43, 24);
    height: auto;
}

/* utility classes */
.padded-1 {  padding: 2rem;   }
.padding-b {padding-bottom: 2%;}
.bottom-p {padding-bottom: 6%;}
.bottom-p2 {padding-bottom: 4%;}
.bottom-p3 {padding-bottom: 0;}
.padding-t {padding-top: 2%;}
.right {text-align: right;}
.center {text-align: center;}
.left {text-align: left;}
.margin-b {margin-bottom: 2%;}
.margin-t {margin-top: 3%;}

.bg-light {
    color: rgb(34, 34, 34);
    background-color: rgb(232, 233, 233);
}
.bg-light h2 {
    font-weight: lighter;
    text-align: center;
    font-size: 200%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid rgb(232, 233, 233);
    border-bottom: 1px solid rgb(232, 233, 233);
}

.bg-blue {
    background-color: rgba(22, 81, 121, 0.63);
    color: rgb(229, 226, 226);
}

.section {
    column-count: 3;
    column-gap: 5px;
    padding: 0 2% 2% 2%;
}

.section h2 {
    font-weight: lighter;
}

.bg-image {
    background-size: cover;
    background-position: center;
    max-width: 50%;
    padding: 15%;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  
  }

  .bg-img {
    background-color: rgb(192, 192, 192);
    background-size: cover;
    background-position: center;
  }
  .img-test {
    background-color: inherit;
    background-image: url('images/lindsey-bg-green.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 25%;
    min-height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .overlay {
    min-height: 12rem;
    padding: 3rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .overlay2 {
    min-height: 12rem;
    padding: 3rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .bg-about {
    background-image: url('images/lindsey-bg-green.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 15%;
    min-height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh;
  }

.link {
    color: inherit;
}
.link:hover {
    color: rgb(255, 255, 255);
}

input, textarea {
    border-style: solid;
    border: 2px solid rgb(192, 192, 192);
    padding: 0.8em;
    display: block;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid rgb(255, 201, 185);
  }
  
  textarea {
    min-height: 7em;
    margin-bottom: 1em;
  }
  
  form [class*=col-] {
    padding: 5px;
  }
  
  .email-signup input {
    width: 30%;
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }
  
  form .button-solid {
    width: 100%;
    height: auto;
    padding: 4%;
    display: inline-block;
    background-color: rgb(92, 138, 92);
    color: rgb(223, 221, 221);
    cursor: pointer;
    box-shadow: none;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
  }
  .button-solid:hover {
      background-color: rgb(92, 170, 92);
  }

  .mobile-display {
    display: none;
  }
    
  /* SCROLL ANIMATION */
  .aos {
    position: relative;
    top: 20px;
    opacity: 0;
    transition: 0.5s ease-out;
    
}

.aos.active {
    top: 0;
    opacity: 1;
    transform: translateY(-20px);
    transition: .8s ease-in;
}

.nav-mobile {
    display: none;
}
/* @media queries */

/* baseline for min-width queries (everything bigger from here!) */
@media(min-width:1100px) {
    .header, .hero {
        font-size: 250%;
    }
    .clickable, .clickable2 {
        font-size: 20px;
    }
    .bg-light h2 {
        font-size: 250%;
    }
     input, textarea {
         font-size: 1.5rem;
     }
}

/* Max min-width media, shouldn't need anything bigger from here */
@media(min-width:2000px) {
    .main {
        height: 95vh;
    }
    .header, .hero {
        font-size: 350%;
    }

    .big-screen-h2 {
        font-size: 275%;
    }
    .big-screen-p {
        font-size: 200%;
    }
    .clickable, .clickable2 {
        font-size: 25px;
    }
    .bg-light h2 {
        font-size: 275%;
    }
     input, textarea {
         font-size: 1.8rem;
     }
}


@media(max-width:800px /*originally 770px*/) {

    #home .mobile-hide {
        display: none;
      }

      .nav-mobile {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        border-top: none;
        height: auto;
        border-bottom: 1px solid rgb(29, 44, 53);
        background-color: rgb(47, 93, 107); /* rgb(94, 150, 182);*/
        z-index: 2;
    }
    .nav-mobile img {
        max-width: 100%;
        max-height: 25vh;
    }

    .mobile-display {
        display: inline-block;
    }

       /* DROPDOWN MENU FOR MOBILE */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    top: 0;
    right: 0;
    background-color: rgb(94, 150, 182);
    cursor: pointer;
    text-align: center;
  }

  /* leaving this here for now in case we change the color for 
        the background to make the logo work ...

  .sidenav img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-height: 20vh;
  } */

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .dropbtn {
    position: fixed;
    top: 16%;
    right: 3%;
    font-size: 30px;
    display: inline-block;
    padding: 1.2% 2.4% 1.2% 2.4%;
    background: rgb(94, 150, 182);
    color: white;
    transform: rotate(90deg);
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    border: none;
    box-shadow:5px 5px 15px -5px rgba(0, 0, 0, .4);
    border-radius: 5px;
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(221, 220, 220);
  }

/* ----- End of Dropdown Menu -----*/

    .title {
        color: rgb(236, 236, 236);
        letter-spacing: .1em;
        font-size: 170%;
    }

    .main {
        padding-top: 40%;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }

    .hero {
        padding: 10% 8% 20% 8%;
        font-size: 180%;
    }
    
    .email-signup input {
      width: 100%;
      max-width: 100%;
    }

     form .button-solid {
        width:100%;
        padding: 10%;
        font-size: 1.2rem;
        background-color: rgb(1, 35, 114);
      }
      form .button-solid:hover {
        background-color: rgb(1, 51, 165);
      }

      input, textarea {
        border: 1px solid rgb(1, 25, 114);
      }

    .card {
        padding: 1rem;
        height: auto;
    }

    .img-div {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .content0 {
        padding: 10% 5% 15% 5%;
    }
        .padding-b {
            padding-bottom: 8%;
        }

    .bg-sales {
        padding: 10%;
    }

    .bg-light {
        padding: 10%;
    }

    .bg-light h2 {
        font-size: 150%;
    }

    .signup, .contact {
        padding: 15%;
    }

    .bg-about {
        padding: 30% 20%;
    }

    .about {
        padding: 15%;
    }

    .bottom-p {
        padding-bottom: 0;
    }

    img {
        max-width: 100%;
        max-height: 40vh;
    }

  }

  @media(max-width:300px) {

    #home .mobile-hide {
        display: none;
      }

      #home .mobile-display, nav {
        display: block;
      }

    .title {
        color: rgb(236, 236, 236);
        letter-spacing: .1em;
        font-size: 170%;
    }

    .main {
        padding-top: 50%;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }

    .hero {
        padding: 8% 5% 15% 5%;
        font-size: 120%;
    }


}